{% extends 'base.html.twig' %}

{% block title %}Modification du mdp {% endblock %}

{% block body %}
<div class="container py-5 mt-5">
<h1>Modifiez votre mot de passe</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Confirmer</button>
<a href="{{path('account_home')}}" class="btn btn-secondary">retour</a>
</div>
{{form_end(form)}} 
{% endblock %}