{% extends 'base.html.twig' %}

{% block title %}Page d'inscription {% endblock %}

{% block body %}
<div class="container py-5 mt-5">
<h1>Inscrivez vous</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Confirmer</button>
</div>
{{form_end(form)}}
{% endblock %}