.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}
.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-small {
    max-width: 32px;
    max-height: 32px;
}
.avatar-xs {
    max-width: 16px;
    max-height: 16px;
}