body
{
    background-color:#f3efef;
}

a
{
    color:indianred;
}
a:hover {
    color: indianred;
}

.container
{
    margin-top:1.2em;
}

.ad-title
{
    background-size:covre;
    background-position: center center;
    padding:1em;
}
.ad-title .container
{
    margin-top:0;
}
.ad-title .h1,
.ad-title .p
{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

footer
{
    position:fixed;
    bottom:0;
    width:100%;
    color: #f3efef;

}

.avatar
{
    width:128px;
    height:128px;
    border-radius: 50%;
}
.avatar-medium
{
    max-width: 64px;
    max-height: 64px;
}
.avatar-small 
{
    max-width: 32px;
    max-height: 32px;
}
.avatar-xs {
    max-width: 16px;
    max-height: 16px;
}


.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover
{
    text-decoration: line-through;
}

blockquote
{
    font-style: oblique;
    color: rgb(90, 81, 81);
}

.verySmall
{
    font-size: xx-small;
}