<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        {% block stylesheets %}{% endblock %}
        
    </head>
    
    <body>

    {# inclure la barre de navigation du menu #}
    {% include 'include/header.html.twig'%}
 
        {# configuration des messages flash sous forme de boucle#}
        {% for label,messages in app.flashes %}

        <div class="container">
            {# label sera donc warning ou success ...#}
            <div class="alert alert-{{ label }}">
            {# selection des messages stockés #}
            {% for message in messages %}
            <p>{{ message|raw }}</p>
            {% endfor %}
            </div>
        </div>

        {% endfor %}



    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    
    {# inclure le footer #}
    {% include 'include/footer.html.twig'%}
    {% block javascripts %}{% endblock %}
 
    </body>
</html>

