{% extends 'base.html.twig' %}

{% block title %} Hello AdController!{% endblock %}

{% block body %}

<main class="container">
    <h1>Hello {{ controller_name }}</h1>
<div class="row">
{# faire une boucle pour récupérer les données de la BDD. Boucle de la variable i, on va chercher entre 0 et 20 #}
{# exemple ancienne boucle de 0 à 20 annonces{% for i in 0..20 %} #}
{# nouvelle boucle avec ads paramétré (rappel ad et comme i il n'a pas de valeur paramétrée mais ici ad correspond au nom de la table (la class))dans la page controlleur AdController.php#}
{% for ad in ads %}
{# pour eviter les répétitions de route on crée une variable url avec set#}
{% include 'ad/_ad.html.twig' %}
{% endfor %}
</div>
  </main> 

{% endblock %}
